/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  background-color: #fff;
  font: 13.34px 'Lato', Arial, sans-serif;
  font-size: small;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    clear: both;
}

p {
    margin: 1em 0;
    clear: both;
}

a {
  color: #118df0;
  text-decoration: none;
  clear: both;
}
a:hover { color: #53cdd8; }

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
.posts {
  list-style-type: none;
  margin-bottom: 2em;
  clear: both;
}

.posts li {
  line-height: 1.75em;
}

.posts span {
  color: #ff304f;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
}

.site h2 {
    color: #0e2f56;
    font-size: 1.2em;
}

/*****************************************************************************/
/*
/* Navigation
/*
/*****************************************************************************/

header .title-subtitle {
    width: 300px;
    float: left;
    height: 95px;
}

header ul li {
    list-style: none;
    margin: 0px 10px;
}

header ul {
    margin-left: 20%;
}

nav {
    float: left;
}

nav ul {
    width: 100%;
}

header ul li {
    float: left;
}

.icon {
    background-repeat: no-repeat;
    background-size: 44px 44px;
    -webkit-background-size: 44px 44px;
    -webkit-background-repeat: no-repeat;
    width: 44px;
    height: 44px;
}

.icon.github {
    background-image: url("/assets/github_dark.png");
}

.icon.github:hover {
    background-image: url("/assets/github_hover_light.png");
}

.icon.twitter {
    background-image: url("/assets/twitter_dark.png");
}

.icon.twitter:hover {
    background-image: url("/assets/twitter_hover_light.png");
}

.icon.rss {
    background-image: url("/assets/rss_dark.png");
}

.icon.rss:hover {
    background-image: url("/assets/rss_hover_light.png");
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  font-size: 120%;
  text-align: justify;
  /* max-width: 42em; */
  max-width: 60em;
  margin: 3em auto 2em;
  line-height: 1.5em;
}

header a {
  font-weight: bold;
  text-decoration: none;
}

.title {
  display: inline-block;
  font-size: 3em;
}

.title a {
  color: #0e2f56;
}

.title-subtitle h3 {
  font-size: 1em;
  color: #0e2f56;
}

.title a:hover {
  /* color: #50DFF3; */
}

header a.extra {
  color: #aaa;
  margin-left: 1em;
}

header a.extra:hover {
  color: #000;
}

.category {
    margin: 0px;
}

.meta {
  color: #ff304f;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #E0EDED;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
  margin-bottom: 1em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #E0EDED;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

.post img {
  width: 35%;
  position: relative;
  left: 31%;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}

@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2) {

    body {
        /* margin: 0 1.5em; */
        /* font-size: .6em; */
    }

    h1, h2, h3, h4, h5, h6, p, li {
        margin: 1em 2em 0 .8em;
    }

    div.title-subtitle {
        width: 100%;
        text-align: center;
    }

    h1.title {
        margin: 0px;
    }

    p {
        font-size: 125%;
        line-height: 1.8em;
    }

    p.category {
        margin: 0 .8em;
    }

    nav {
        width: 85%;
        margin-bottom: 20px;
    }

    .icon {
        background-repeat: no-repeat;
        background-size: 52px 52px;
        -webkit-background-size: 52px 52px;
        -webkit-background-repeat: no-repeat;
        width: 52px;
        height: 52px;
    }
}
