<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">
        <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

    </head>
    <body>

        <div class="site">
          <header>
            <div class="title-subtitle">
              <h1 class="title"><a href="/">{{ site.name }}</a></h1>
              <h3>A journey towards Mastery</h3>
            </div>
            <nav>
              <ul>
                <a href="https://github.com/maikon"><li class="icon github" title="Icon made by http://www.flaticon.com/authors/freepik from www.flaticon.com"></li></a>
                <a href="https://twitter.com/makisotman"><li class="icon twitter" title="Icon made by http://www.flaticon.com/authors/elegant-themes from www.flaticon.com"></li></a>
                <a href="http://maikon.github.io/feed.xml"><li class="icon rss" title="Icon made by http://www.flaticon.com/authors/icomoon from www.flaticon.com"></li></a>
              </ul>
            </nav>
          </header>

          {{ content }}
        </div>

    </body>
</html>
