---
layout: page
---

{% if page.image and page.headerImage %}
    <img class="title-image" src="{{ page.image }}" alt="{{ page.title }}">
{% endif %}

<h1 class="title">{{ page.title }}</h1>

<span class="date">
    <time datetime="{{ page.date | date:"%d-%m-%Y" }}">{{ page.date | date: "%A. %B %d, %Y" }}</time>
    {% if site.read-time %} - {% include read-time.html %}{% endif %}
</span>

{% if site.show-tags %}
    <div class="post-tags">
        {% for tag in page.tags %}
            <a class="item" href="{{ site.url }}/tags/#{{ tag | slugify }}">{{ tag }}</a>
        {% endfor %}
    </div>
{% endif %}

{{content}}

{% if site.post-advance-links contains page.category %}
    <div class="blog-navigation">
        {% if page.previous.url %}
            <a class="prev" href="{{ site.url }}{{ page.previous.url }}">&laquo; {{ page.previous.title }}</a>
        {% else %}
            <a class="prev"></a>
        {% endif %}
        {% if page.next.url %}
            <a class="next" href="{{ site.url }}{{ page.next.url }}">{{ page.next.title }} &raquo;</a>
            {% endif %}
    </div>
    {% endif %}

    {% if site.show-author %}
    {% include author.html %}
    {% endif %}

    <!-- Begin Mailchimp Signup Form -->
    <div id="mc_embed_signup">
      <form action="https://dev.us19.list-manage.com/subscribe/post?u=b7fd52179fda19248a337661a&amp;id=cc4182608e" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div id="mc_embed_signup_scroll">
	        <h2>Get my latest content by email. 100% spam-free.</h2>
          <div class="mc-field-group">
	          <input type="text" placeholder="First Name" value="" name="FNAME" class="" id="mce-FNAME">
          </div>
          <div class="mc-field-group">
	          <input type="email" placeholder="Email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
          </div>
	        <div id="mce-responses" class="clear">
		        <div class="response" id="mce-error-response" style="display:none"></div>
		        <div class="response" id="mce-success-response" style="display:none"></div>
	        </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_b7fd52179fda19248a337661a_cc4182608e" tabindex="-1" value=""></div>
          <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
        </div>
      </form>
    </div>
    <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[1]='FNAME';ftypes[1]='text';fnames[0]='EMAIL';ftypes[0]='email';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
    <!--End mc_embed_signup-->

{% if site.disqus.categories contains page.category %}
    {% include disqus.html %}
{% endif %}
